img {
  max-width: 100vw;
  height: auto;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img.overflowingVertical {
  margin-top: 0;
}

img {
  image-orientation: from-image;
}

body {
  color: #eee;
  background-image: url("chrome://global/skin/media/imagedoc-darknoise.png");
}

img.transparent {
  background: hsl(0,0%,90%) url("chrome://global/skin/media/imagedoc-lightnoise.png");
  color: #222;
}
