img {
  max-width: 100vw;
  height: auto;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img.overflowingVertical {
  margin-top: 0;
}

img {
  image-orientation: from-image;
}

body {
  color: #eee;
  background-image: url("chrome://global/skin/media/imagedoc-darknoise.png");
}

img.transparent {
  background: hsl(0,0%,90%) url("chrome://global/skin/media/imagedoc-lightnoise.png");
  color: #222;
}
